- error

In [6]:
def solution(numbers):
    
    numbers.sort(reverse = True)
    

    # lst 안의 숫자들, sting으로 변경후,
    # 만약 맨 앞자리가 같다면, 34, 30 순처리, 미리 선 처리
    lst = [ str(n) for n in numbers ]

    
    # 맨 앞 숫자 기준 정렬
    lst.sort(key = lambda x:x[0], reverse = True)
    
    
    answer = ''

    for s in lst:
        answer += s
    
    
    return answer

numbers의 길이는 1 이상 100,000 

- 가능한 모든 경우 처리 x

---

- error, 한번에 처리, 
- 34,30,3 처리

- numbers의 원소는 0 이상 1,000 이하입니다.
    - 따라서 입력되는 숫자의 최소길이는 1자리 최대길이는 3자리 일것이고, 1자리 숫자를 3자리로 불려줌으로써 문자형태의 숫자를 대소비교한다.

- 그래서 이를 해결하기 위해 사용된 방법으로 위의 리스트의 수를 3번씩 반복하고, 그것을 비교하는 방법입니다.
- 이 방식으로 비교하게 되면 [393939, 303030, 333]이 되고, 이를 세자리 수까지 끊으면 [393, 303, 333]이 됩니다. 
- 이렇게 되면 [393, 333, 303]순서로 내림차순이 가능해지고, 원래 수로 바꿔주면 [39, 3, 30] 의 순서가 됩니다.

In [ ]:
def solution(numbers):
    
    # string 형 변환
    lst = [ str(n) for n in numbers ]

    # 원소는 0 이상 1,000 이하, 이므로 맨 앞 숫자 기준 정렬
    lst.sort(key = lambda x:x*3, reverse = True)
    
    answer = ''
    for s in lst:
        answer += s
    
    
    return str(int(answer))

---


# functools.cmp_to_key

In [9]:
comparator('4','3')

1

In [11]:
comparator('2','10')

1

In [14]:
s1 = '10' + '20'

s2 = '20' + '10'

s1,s2

('1020', '2010')

In [19]:
# functools.cmp_to_key 함수를 사용하여 비교 함수를 키 함수로 변환하여 사용할 수 있습니다.
# 문자열의 첫번째 요소로 비교

import functools

def comparator(c1, c2):
    
    s1 = c1 + c2
    
    s2 = c2 + c1
    
    
    if int(s1) > int(s2):
        return 1
    
    elif int(s2) > int(s1):
            return -1
    else:
        return 0
    
    
    
    # return (int(s1) > int(s2)) - (int(s1) < int(s2)) 


def solution(numbers):
    
    lst = [ str(n) for n in numbers ] 
    
    lst = sorted(lst, key = functools.cmp_to_key(comparator), reverse = True)
    
    answer = str(int(''.join(lst)))
    
    return answer

In [20]:
solution([3, 30, 34, 5, 9])

'9534330'



- `s1`은 `c1`와 `c2`를 결합한 순서로, `s2`는 `c2`와 `c1`를 결합한 순서로 만들어집니다. 

- 그런 다음, 이 두 문자열을 정수로 변환하여 `s1`이 크면 양수를 반환하고 `s2`가 크면 음수를 반환하고, 두 숫자가 같으면 0을 반환합니다. 
 
- 배열 `lst`를 문자열로 변환하고, 문자열로 변환된 숫자를 다시 정수로 변환한 후, 문자열로 다시 변환합니다. 이렇게 하는 이유는 배열이 `[0, 0, 0]`과 같은 경우, 결과로 "0"을 반환해야 하기 때문입니다.

---

In [13]:
import functools

# 길이를 기준으로 문자열을 비교하는 비교 함수
def comparator(s1, s2):
    
    len_s1 = len(s1)
    len_s2 = len(s2)
    
    if len_s1 < len_s2:
        return -1
    
    elif len_s1 > len_s2:
        return 1
    
    else:
        return 0


lst = ["apple", "banana", "cherry", "date", "fig"]
print(lst)


ans = sorted(lst, key = functools.cmp_to_key(comparator))         
print(ans)

['apple', 'banana', 'cherry', 'date', 'fig']
['fig', 'date', 'apple', 'banana', 'cherry']

- lambda

In [23]:
ans = sorted(lst, key = lambda x:len(x))
ans

['fig', 'date', 'apple', 'banana', 'cherry']